body {
	margin: 0px 0px 0px 0px;
	padding: 0;
	background: #FF5B00 url(images/bg01.png) repeat;
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;

}


h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
}

h2 {
	font-size: 3em;
}

p, ol, ul {
	margin-top: 0px;
	padding: 0px;
}

p, ol {
	line-height: 180%;
}

strong {
}

a {
	color: #5C5539;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

img.border {
}

img.alignleft {
	float: left;
	margin-top: 8px;
	margin-right: 50px;
	margin-bottom: 60px;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

hr {
	display: none;
}

.navbar {
    margin-bottom: 0;
    background-color: #FF5B00;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #FF5B00 !important;
    background-color: #fff !important;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

/** WRAPPER */

#wrapper {
	overflow: hidden;
	background: #FFFFFF;
	box-shadow: 
        inset 0px 11px 8px -20px #CCC,
        inset 0px -11px 8px -10px #CCC;}

.container {
	width: 1200px;
	margin: 0px auto;
}

.clearfix {
	clear: both;
}

/* Header */

#header-wrapper {
	overflow: hidden;
	height: 150px;
}

#header {
	width: 1200px;
	height: 150px;
	margin: 0 auto;
	padding: 0px 0px;
}


/* Page */

#page-wrapper {
	overflow: hidden;
}

#page {
	overflow: hidden;
	width: 1120px;
	margin: 0px auto;
	padding: 50px 40px;
	color: #8F8F8F;
}

.jumbotron {
    background-color: #FF5B00;
    color: #fff;
    padding: 100px 25px;
    font-family: Montserrat, sans-serif;
}

/** CONTENT */

#wide-content {
	padding: 50px;
	border: 10px solid #f1f1f1;
	margin-top: 20px;
}

#wide-content h2 {
	padding: 0px 0px 20px 0px;
	letter-spacing: -1px;
	font-size: 36px;
	color: #222222;
}


/** CONTENT */

#content {
	float: right;
	width: 700px;
	padding: 0px 0px 0px 0px;
}

#content h2 {
	padding: 0px 0px 20px 0px;
	letter-spacing: -1px;
	font-size: 36px;
	color: #222222;
}

#content .subtitle {
	padding: 0px 0px 30px 0px;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	color: #81AFC5;
}

/** SIDEBAR */

#sidebar {
	float: left;
	width: 290px;
	padding: 0px 0px 20px 0px;
}

#sidebar h2 {
	padding: 0px 0px 30px 0px;
	letter-spacing: -1px;
	font-size: 2em;
}

/* Banner Style */


#banner {
	overflow: hidden;
	width: 1160px;
	margin: 20px auto 50px auto;
}

#banner .img-border {
	height: 500px;
	border: 20px solid #FFFFFF;
}

/* Button Style */

.button-style {
	display: inline-block;
	margin-top: 30px;
	border-radius: 5px;
    font-weight: bold;
}

.button-style a {
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #FFFFFF;
}

.button-style a:hover
{
	text-decoration: none;
	color: #FFF;
}

/* List Style 1 */

ul.style1 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style1 li {
	padding: 35px 0px 25px 0px;
	border-top: 1px solid #c8c8c8;
}

ul.style1 a {
	text-decoration: none;
	color: #FF5B00;
}

ul.style1 a:hover {
	text-decoration: underline;
	color: #6B6B6B;
}

ul.style1 .first {
	padding-top: 0px;
	border-top: none;
}

ul.style1 h3
{
	padding-bottom: 20px;
	font-size: 20px;
	font-weight: bold;
}

ul.style1 .button-style a:hover
{
	text-decoration: none !important;
	color: #FFF !important;
}

/** LIST STYLE 3 */

ul.style3 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style3 li {
	padding: 10px 0px 10px 0px;
	border-top: 1px solid #c8c8c8;
}

ul.style3 a {
	text-decoration: none;
	color: #949494;
}

ul.style3 a:hover {
	text-decoration: underline;
}

ul.style3 .first {
	padding-top: 0px;
	border-top: none;
	box-shadow: none;
}

ul.style3 .date {
	width: 87px;
	height: 24px;
	line-height: 24px;
	font-size: 16px;
	color: #FF5B00;
}

ul.style3 .first .date
{
	margin-top: 0px;
}


/* Recent News */

#recent-news {
	overflow: hidden;
	width: 1120px;
	margin: 0px auto;
	padding: 50px 40px;
	background: #36332E;
	color: #8C8C8C;
}

#recent-news h2 {
	padding: 0px 0px 20px 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2.5em;
	color: #EDEDED;
}

#recent-news .date {
	padding: 0px 0px 10px 0px;
	font-weight: bold;
	font-style: normal;
	color: #E3E3E3;
}

#recent-news p {
	font-style: italic;
}

#recent-news a {
	font-style: normal;
	color: #B8B8B8;
}

#recent-news #rbox1 {
	float: left;
	width: 250px;
	margin-right: 40px;
}

#recent-news #rbox2 {
	float: left;
	width: 250px;
	margin-right: 40px;
}

#recent-news #rbox3 {
	float: left;
	width: 250px;
}

#recent-news #rbox4 {
	float: right;
	width: 250px;
}

/* Button Style */

.button-style1 {
	margin-top: 30px;
}

.button-style1 a {
	padding: 10px 25px;
	background: #FF5B00;
	border-radius: 5px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #FCE3BB;
	color: #36332E !important;
}
